body{
    /*background: url('Images/Weather/day.jpg') top no-repeat;*/
    /*background-color: green;*/
}

#base{
    background: url('Images/Cottage/main1440treeColor.png') top no-repeat;
}

#questionButton{
    position: fixed;
    right: 15%;
    z-index: 100; 
    bottom: 15px; 
    width: 100px;
}

#chatWindow{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    z-index: 100; 
    bottom: 50px;
    right: 2%;
    width: 35%;
    /*max-height: 60vh;*/
}

#chatHeader{
    background-color: green;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

#activeContent{
    padding: 10px;
    margin-top: 0;
    background-color: rgba(245, 245, 245, 0.8);
}

#chatContent{
    background-color: rgba(245, 245, 245, 0.5);
    overflow: auto;
    max-height: 60vh;
}

body, #base{
    background-size: 100%;
    background-attachment: local;
}

h1, h4{
    text-align: center;
}

h3{
    line-height: 150%;
}

.outer{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle{
    display: table-cell;
    vertical-align: middle;
}

.inner{
    font-family: 'Atma', cursive;
    background-size: 100%;
    background-color: rgba(51, 91, 150, 0.80);
    /*background: rgba(35, 45, 115, 0.80);*/
    color: white;
    box-shadow: 10px 10px 5px rgba(6, 1, 1, 0.43);
    padding: 40px;
}

.innerMenu{
    font-family: 'IM Fell French Canon SC', serif;
    background: rgba(140, 111, 61, 0.90);
    box-shadow: 10px 10px 5px rgba(6, 1, 1, 0.63);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.inner.copy{
    background-color: rgba(60, 70, 140, 0.80);
}

.ctxbackground .inner>*>a{
    color: orange;
    background-color: transparent; 
    text-decoration: none;
}

@media(max-width: 768px){
.ctxbackground{
    background-image: url('Images/Cottage/bgcottage2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.innerMenu{
    margin-top: 240px;
}
.inner.copy{
    margin-top: 40px;
}
#chatWindow{
    width: 85%;
    margin: 2%;
    }
}

@media(min-width: 768px){
.inner.copy{
    position: absolute;
    bottom: 0vh;
    padding-top: 0px;
    }
}
nav.navbar{
    margin-bottom: 0px;
    border-bottom: 0px;
}
a.navbar-brand{
    color: ghostwhite;
    font-weight: bold;
}
.navbar-nav>li>a{
    color: ghostwhite;
    font-size: 22px;
}
.nav>li>a:focus, .nav>li>a:hover{
    text-decoration: none;
    background: rgba(51, 91, 150, 0.80);
}